[SddmGreeterTheme]
Name=sddm-ghost
Description=SDDM: Ghost in the Shell Theme
Author=raven2cz
Copyright=raven2cz,l4k1
License=GPLv3
Type=sddm-theme
Version=1.1
Website=https://github.com/raven2cz/sddm-ghost
Screenshot=preview-zoom.jpg
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=tonda.fischer@gmail.com
Theme-Id=sddm-ghost
Theme-API=2.0
